/*.bg { 
    background-image: url("../img/valves.jpg");
    opacity: 0.1;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
@import url("https://bootswatch.com/4/flatly/bootstrap.min.css");
/*@import url("css/bootstrap.min.css");*/
/*.random { asdf: lux/slate/yeti/cosmo/litera/flatly; }*/
body {
	background: linear-gradient(to right,#8ED1DA, #c5eff5);
	/*background: linear-gradient(to right,#32AA9B, #28B993);*/
}
.page-top {
	height: 25px;
}
.row {
	min-height: 300px;
}
.page-header-image {
	background: url("../img/rccb_122016_crop.jpg") 0% 20% no-repeat;
	height: 250px;
	width: 100%;
	background-size: cover;
}
.page-header {
	padding-top: 5px;
	text-align: right;
	width: 90%;
}
.navbar-brand{ 
    background: url(../img/RCCB_logo.jpg) left / contain no-repeat;
    width: 100px;
    height: 100px;
}
.nav-item{
    size: 100px;
    font-size: 500;
}
.nav-link {
	color: #1B5CA3;
	/*color: #1224A5;*/
}
.jumbotron {
    position: relative;
	padding: 50px;
	background-color: #b4dfe4;
	/*background-color: #69C6B3;*/
	width: 100%;
}
.jumbotron .img {
    /*style="opacity: 0.2; background: url(assets/Godzilla_Statue.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"*/
    opacity: 0.1;
    color: #fff;
    background: url("../assets/Godzilla_Statue.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
/*../assets/notes_page.jpg*/
.col1 {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
                url("../assets/LHSEagles.jpg") center;

    font-family: "Impact", Impact, serif;
}
.col2 {
	background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.75)),
                rgba(255,255,255,0.55) url("../assets/Godzilla_Iguana.jpg") no-repeat center;
}
.col3 {
	background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),
                rgba(255,255,255,0.35) url("../assets/American-flag.jpg") no-repeat center;
}
.col4 {
	background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
                rgba(255,255,255,0.75) url("../assets/sax.jpeg") no-repeat center;
}
.page-footer {
	height: 10px;
}
.calendar-block {
	/*background-color: white !important;*/
	background-color: #d7e7e9;
}
.fc-day-grid-event > .fc-content {
    white-space: normal;
}

/* POSTER MODAL */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(2,2,2); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
	
